h1 {
  text-align:center;
  color:#C2A78C;
  font-weight:thin;
  font-size: 48px;
  margin:0 0 40px;
  margin-top: 4%;
}

button {
  background: #FFD4B2;
  width: 370px;
  margin:auto;
  display:block;
  height: 50px;
  border: none;
  color: #623412;
  border-radius: 6px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  margin-top: 29%;
}

a {
text-decoration-line: none;
color: #623412;
}

body { height: 150px;

}

html, body, button {font-family : Serif;}
