html,
body {
  position: relative;
  text-align: center;
  width: auto;
  align: center;
  max-width: 100%;
  background: #FFF6BD;
}

/* .box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  border-radius: 8px;
  border: 1.4px solid rgba(0, 0, 0,     0.1);
  background: rgba(0, 0, 0, 0);
  display:

} */

#image{
  top: 50%;
  left: 50px;
  border-radius: 1000px;
  object-fit: cover;
  z-index: 0;
  width: 80px;
  height: 80px;
}

/* #upload {
  display : none;
  top: 1%;
}

.upload-image {
  display: block;
} */

.checkbox,
.rad {
  display: inline-block;
  margin: 0px -44px;
  width: 100%;
}

#form-container {
  background-color: white;
  display: inline-block;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 10px;
  max-width: 100%;
}

div {
  text-align: justify;
  margin: 0px 0px 0px 30px;
}

#description {
  text-align: center;
  font-size: 20px;
  margin: 30px 30px 30px 30px;
}

.input-field {
  height: 15px;
  width: 300px;
  padding: 5px;
  margin: 10px 0px;
  border: 1px solid;
  border-radius: 1px;
  align: justify;
}

label {
  align: left;
}

#submit {
  background-color: #FFD4B2;
  border-radius: 50px;
  font-size: 1em;
  height: 30px 0px;
  width: 300px;
  margin: 30px 10px;
  border: 1px solid;
  cursor: pointer;
}

.dropdown {
  height: 30px;
  width: 315px;
  padding: 5px;
  margin: 10px 0px;
  border: 1px solid;
  border-radius: 1px;
  align: justify;
}

.dates {
  height: 15px;
  width: 300px;
  padding: 5px;
  margin: 10px 0px;
  border: 1px solid;
  border-radius: 1px;
  align: justify;
}

.status {
  margin-top: 10px;
}

.places-visited{
  margin-top: 10p;
}

.my-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset : 5px;
  text-decoration-color : #2E110E
}

@media (max-width: 460px) {
  div {
    margin: auto;
  }

  .input-field,
  .dropdown,
  .dates,
  label,
  ul li {
    margin-left: 15px;
  }

  #submit {
    margin-left: 20px;
  }
}
