
* {
    padding: 0px;
    margin: 0px;
}

  /* ul 점 없애기 */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}

button{
    outline: none;
    border:none;
    cursor: pointer;
}

li {
    list-style: none;
}
