/* 정민 */
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #FFF6BD;
    /* 폰트 효과 수정 */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Source Sans Pro', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

#tb, #tb2{
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    margin-top: 20px;
}

#rl{
    display: grid;
    grid-template-columns: 1fr 30px;
}

#rl2{
    display: grid;
    grid-template-columns: 30px 1fr;
}

#adddog_form{
    background-color: beige;
}

#showdog_div, #showdog_div2{
    height: 350px;
    background-color: #f3f0de;
    margin: 30px 10px;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#rightbtn, #leftbtn{
    height: 350px;
    width: 30px;
    margin: 30px 0px;
    border-radius: 30px 0px 0px 30px;
    border: none;
    background-color: #FFD4B2;
}

#leftbtn{
    border-radius: 00px 30px 30px 0px;
}

#plusbtndiv{
    width: 56px;
    margin: auto;

}

/* 버튼 효과 수정 */
#plusbtn{
  font-size: 100px;
  position: relative;
  width: 0.7em;
  height: 0.7em;
  background-color: #FFD4B2;
  border-radius: 38px;
  line-height: 84px;
  min-width: 56px;
  color: #e9b187;
  border: #FFD4B2;
}

#dogfield{
    width: 100px;
}

#btnset{
    margin: auto;
}

/* 버튼 효과 수정 */
#updatebtn, #submitbtn{
  width: 80px;
  height: 30px;
  font-family: 'Source Sans Pro', sans-serif;
   overflow: hidden;
   cursor: pointer;
   position: relative;
   z-index: 10;
   display: inline-block;
   line-height: 36px;
   vertical-align: middle;
   border: none;
   padding: 0 16px;
   white-space: nowrap;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   font-weight: 400;
   font-size: 14px;
   background-image: none;

   -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
           border-radius: 2px;

   -webkit-box-shadow: none;
      -moz-box-shadow: none;
           box-shadow: none;

   -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
           transition: all 0.2s ease;

   -ms-touch-action: manipulation;
       touch-action: manipulation;

   -webkit-user-select: none;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;

   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;

   color: #ffffff;
   background-color: #FFD4B2;
}

#updatebtn:hover,
    #updatebtn:focus,
    #updatebtn.focus,
    #updatebtn:active,
    #updatebtn.active {
        color: #ffffff;
        background-color: #fec294;
    }

#submitbtn:hover,
        #submitbtn:focus,
        #submitbtn.focus,
        #submitbtn:active,
        #submitbtn.active {
            color: #ffffff;
            background-color: #fec294;
        }

#report2_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stats_graph_box{
    position:relative;
    padding-bottom:20px;
}

.graph-text{
    position:relative;
    height: 20px;
}

.graph{
    position:relative;
    height:30px;
    width: 200px;
    background:#d9d9d9;
    border-radius:4px;
    font-size:0;
    white-space:nowrap;
    overflow:hidden;
}

#bar_min, #bar_middle, #bar_max, #bar_min2, #bar_middle2, #bar_max2 {
    position:relative;
    display:inline-block;
    height:30px;
    overflow:hidden;
}

#mintime, #maxtime, #min-width, #max-width, #mindis, #maxdis, #min-width2, #max-width2{
    position:relative;
    display:inline-block;
    margin: 0;
}

#dog1, #dog2, #dog3{
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr;
}

.dog-face{
    padding-top: 2px;
}

.dog-info{
    margin: auto 0;
}
#dog1-name, #dog2-name, #dog3-name{
    text-align: left;
}
#dog1-birth, #dog2-birth, #dog3-birth{
    text-align: left;
}
