@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 버튼 효과 수정 */
.menu-bar {
    position: absolute;
    right: 0;
    background: #FFD4B2;
    margin: 10px;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    font-family: 'SDSamliphopangche_Outline';
    min-width: 56px;
    line-height: 84px;
    padding: 0;
    border-radius: 28px;
    min-width: 56px;
    width: 56px;
    height: 56px;
    line-height: 84px;
    padding: 0;
    border-radius: 28px;
}
.menu-bar .line{
    width: 25px;
    height: 2px;
    margin: 3px;
    background: #ebebeb;
    transition: all 300ms ease-out;
    font-family: 'SDSamliphopangche_Outline';
}

.nav-bar .nav-items{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #1c1b1ac4;
    clip-path: circle(30px at 93% 8%);
    transition: all 800ms ease-out;
    opacity: 0;
    z-index: 1;
    font-family: 'SDSamliphopangche_Outline';
}

.nav-bar .nav-items .nav-links{
    color: #ebebeb;
    font-size: 22px;
    margin: 10px 17px;
    font-family: 'SDSamliphopangche_Outline';
    text-decoration: none;
}

.nav-bar .nav-items .nav-mini{
    color: #ebebeb;
    font-size: 11px;
    font-weight: 100;
    margin: 3px 17px;
    font-family: 'SDSamliphopangche_Outline';
    text-decoration: none;
}

.nav-bar.toggle .nav-items{
    clip-path: circle(100%);
    opacity: 1;
    font-family: 'SDSamliphopangche_Outline';
}

/* 버튼 효과 수정 */
.nav-bar.toggle .menu-bar{
    box-shadow: none;
    font-family: 'SDSamliphopangche_Outline';
    background: #FFD4B2;
    min-width: 56px;
    width: 56px;
    height: 56px;
    line-height: 84px;
    padding: 0;
    border-radius: 28px;
}

.nav-bar.toggle .menu-bar .line:nth-child(1){
    transform: rotate(-45deg);
    margin: 0;
}
.nav-bar.toggle .menu-bar .line:nth-child(3){
    opacity: 0;
}
.nav-bar.toggle .menu-bar .line:nth-child(2){
    transform: rotateZ(45deg);
    margin: -2px;
}

.drop {
    width: 100%;
    height: 200px;
    margin: 20px;
    padding: 10px;
}
