
@font-face {
    font-family: 'Humanbumsuk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 460px;
    align-items: center;
    justify-content: center;
    background-color: #FFF6BD;
    font-family: 'Humanbumsuk';
}


img {
    height : 25px;
    width : 25px;
    object-fit :cover;
    font-family: 'Humanbumsuk';
}

.box{
    color: black;
    height: 50px;
    text-align : center;
    font-family: 'Humanbumsuk';
}

.timerBox{
    width: 200px;
    color: black;
    outline: 2px solid black;
    font-family: 'Humanbumsuk';
}

.timerBox .time{
    font-size: 30pt;
    color: #4C4C4C;
    text-align: center;
    font-family: 'Humanbumsuk';
}

.btnBox{
    margin: 20px auto;
    text-align: center;
    font-family: 'Humanbumsuk';
}

/* 버튼 효과 수정 btnBox 안에 시작 버튼 일시정지등 버튼들 */
.btn-primary{
    margin: 20px auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    border: none;
    padding: 0 16px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    background-image: none;
    background-color: #E0E0E0;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

    -ms-touch-action: manipulation;
        touch-action: manipulation;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    color: #ffffff;
    background-color: #FFD4B2;

}

.btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active {
        color: #ffffff;
        background-color: #fec294;
    }

.btnBox .fa{
    margin: 0px 5px;
    font-size: 30pt;
    cursor: pointer;
    font-family: 'Humanbumsuk';
}

#mapwrap{
    position:relative;
    overflow:hidden;
    font-family: 'Humanbumsuk';
}

#weather, #weather *{
    margin:0;
    padding:0;
    color:#000;
    font-family: 'Humanbumsuk';
}
#weather {
    position:absolute;
    overflow:hidden;
    top:10px;
    right:10px;
    z-index: 10;
    font-family: 'Humanbumsuk';
}

#weather_open {
    height : 50px;
    width : 50px;
    font-family: 'Humanbumsuk';
    font-size:10px;
    text-align:center;
    display : inline;
    border-radius:50%;
}

#weather_info {
    height : 50px;
    width : 240px;
    font-family: 'Humanbumsuk';
    font-size:10px;
    text-align:center;
    display : block;
    border-width:2px;
    border-radius:25px;
    inner-border-radius:23px;
}

#list {
    position:absolute;
    overflow:hidden;
    top:65px;
    right:10px;
    z-index:10;
    font-family: 'Humanbumsuk';
}

#list_1 {
    height : 50px;
    width : 50px;
    font-family: 'Humanbumsuk';
    font-size:10px;
    text-align:center;
    border-radius:50%;
}

#recommend {
    position:absolute;
    overflow:hidden;
    top:120px;
    right:10px;
    z-index: 10;
    font-family: 'Humanbumsuk';
}

#recommend button {
    z-index: 10;
    height : 50px;
    width : 50px;
    font-family: 'Humanbumsuk';
    font-size:10px;
    text-align:center;
    border-radius:50%;
}

#category, #category *{
    margin:0;
    padding:0;
    color:#000;
}

#category {
    position:absolute;
    overflow:hidden;
    top: 0;
    right: 0;
    width:80%;
    height:100%;
    z-index:15;
    font-family: 'Humanbumsuk';
    font-size:14px;
    text-align:left;
    background-color:#fff;
    display:block;
}

#category .categories{
    margin : 12px 10px;
    font-family: 'Humanbumsuk';
}

#select {
    position:absolute;
    overflow:hidden;
    top: 0;
    right: 0;
    width:100%;
    height:100%;
    z-index:15;
    font-family: 'Humanbumsuk';
    font-size:14px;
    text-align:left;
    background-color:#fff;
    display:block;
}

#select .radio_top {
    margin: 10px 20px 20px 20px;
    border-bottom: 1px solid black;
    font-family: 'Humanbumsuk';
}
