
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
	font-family: ''Source Sans Pro', sans-serif;
	background-color: #f5f5f5;
}

    .ripples {
        overflow: hidden;
        position: relative;
    }
    
    .waves {
        position: absolute;
        display: block;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
    }

    .ripple {
        -webkit-animation: ripple 0.65s linear;
           -moz-animation: ripple 0.65s linear;
            -ms-animation: ripple 0.65s linear;
             -o-animation: ripple 0.65s linear;
                animation: ripple 0.65s linear;
    }

    @-webkit-keyframes ripple {
        100% {
            opacity: 0;
            -webkit-transform: scale(2.5);
        }
    }
    
    @-moz-keyframes ripple {
        100% {
            opacity: 0;
            -moz-transform: scale(2.5);
        }
    }
    
    @-o-keyframes ripple {
        100% {
            opacity: 0;
            -o-transform: scale(2.5);
        }
    }
    
    @keyframes ripple {
        100% {
            opacity: 0;
            transform: scale(2.5);
        }
    }

/* ******************************
BUTTONS
****************************** */
.btn {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 10;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    border: none;
    padding: 0 16px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
    background-image: none;
    background-color: #E0E0E0;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

    -ms-touch-action: manipulation;
        touch-action: manipulation;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

/* ----- BUTTON STATES ----- */
    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
    }

    .btn:hover,
    .btn:focus,
    .btn.focus {
        color: #212121;
        text-decoration: none;
    }

    .btn:active,
    .btn.active {
        outline: 0;
        background-image: none;
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

/* ----- ALTERNATE OPTIONS ----- */
/* PRIMARY */
    .btn-primary {
        color: #ffffff;
        background-color: #FFD4B2;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:active,
    .btn-primary.active {
        color: #ffffff;
        background-color: #fec294;
    }

/* ACCENT */
    .btn-accent {
        color: #ffffff;
        background-color: #EC407A;
    }

    .btn-accent:hover,
    .btn-accent:focus,
    .btn-accent.focus,
    .btn-accent:active,
    .btn-accent.active {
        color: #ffffff;
        background-color: #E91E63;
    }

/* SUCCESS */
    .btn-success {
        color: #ffffff;
        background-color: #CEEDC7;
    }

    .btn-success:hover,
    .btn-success:focus,
    .btn-success.focus,
    .btn-success:active,
    .btn-success.active {
        color: #ffffff;
        background-color: #a8eb99;
    }

/* PRIMARY1 */
    .btn-primary1 {
        color: #ffffff;
        background-color: #FFEFD5;
    }

    .btn-primary1:hover,
    .btn-primary1:focus,
    .btn-primary1.focus,
    .btn-primary1:active,
    .btn-primary1.active {
        color: #ffffff;
        background-color: #fcdfaa;
    }

/* ----- RAISED ----- */
    .btn-raised {
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
           -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    }

/* ----- FLAT BUTTONS ----- */
    .btn-flat {
        font-weight: 400;
        color: #212121;
        background-color: transparent;
    }

    .btn-flat .waves {
        background-color: rgba(33, 33, 33, 0.1);
    }

    .btn-flat:hover,
    .btn-flat:focus,
    .btn-flat.focus,
    .btn-flat:active,
    .btn-flat.active {
        color: #212121;
    }

/* FLAT PRIMARY */
    .btn-flat.primary {
        color: #FFD4B2;
    }

    .btn-flat.primary .waves {
        background-color: rgba(181, 118, 63, 0.3));
    }

/* FLAT ACCENT */
    .btn-flat.accent {
        color: #EC407A;
    }

    .btn-flat.accent .waves {
        background-color: rgba(255, 64, 129, 0.3);
    }

/* FLAT SUCCESS */
    .btn-flat.success {
        color: #CEEDC7;
    }

    .btn-flat.success .waves {
        background-color: rgba(0, 150, 20, 0.3);
    }

    .btn-flat.primary1 {
        color: #FFEFD5;
    }

    .btn-flat.primary1 .waves {
        background-color: rgba(150, 80, 0, 0.3);
    }

/* ----- ACTION ----- */
    .btn-action {
        min-width: 40px;
        width: 40px;
        height: 40px;
        line-height: 55px;
        padding: 0;
        border-radius: 20px;
    }

    .btn-action-lg {
        min-width: 56px;
        width: 56px;
        height: 56px;
        line-height: 84px;
        padding: 0;
        border-radius: 28px;
    }

    .btn-action-lg .material-icons {
        font-size: 36px;
    }

    .btn-action .waves,
    .btn-action-lg .waves {
        display: none;
    }