.main-btn{
  outline:none;
  border:none;
  cursor:pointer;
}

/* 메인 */
.main {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  line-height: 3;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 비밀번호 변경 제목 */
.main__span{
  margin-bottom: 20px;
  font-size: 20px;
}

.main__input{
  display: flex;
  flex-direction: column;
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}

.main__input input{
  outline: none;
  width: 370px;
  height: 25px;
  padding: 10px 15px;
  color: #757575;
}

/* 변경하기 버튼 */
.modify-btn {
  background-color: red;
  width: 220px;
  height: 50px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 40px 0;
  font-size: 14px;
}

.modify-btn:hover{
  opacity: 0.8;
}

@media screen and (max-width: 768px) {

  .container {
    width: auto;
  }

  .method{
    width: 42.4%;
  }


  }
